# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Pivotal Tracker'
      'submenu': [
        {'label': 'Create in Icebox', 'atom-tracker:create-in-icebox'}
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-tracker'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-tracker:toggle'
        }
      ]
    ]
  }
]
