# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Atom Tracker'
      'submenu': []
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Tracker'
      'submenu': [
        {
          'label': 'Link Project'
          'atom-tracker:create-config'
        }
        {'type': 'separator'}
        {
          'label': 'Read Project Configuration File'
          'atom-tracker:read-config'
        }
      ]
    ]
  }
]
