# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Atom Tracker'
      'submenu': []
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Tracker'
      'submenu': [
        {
          'label': 'Link Project'
          'command': 'atom-tracker:create-config'
        }
        {'type': 'separator'}
        {
          'label': 'Select Next Story'
          'command': 'atom-tracker:next-story'
        }
        {
          'label': 'Finish Current Story'
          'command': 'atom-tracker:finish-story'
        }
      ]
    ]
  }
]
