# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'ctrl-alt-l': 'atom-tracker:create-config'
  'ctrl-alt-j': 'atom-tracker:next-story'
  'shift-ctrl-alt-j': 'atom-tracker:next-story-auto'
  'ctrl-alt-k': 'atom-tracker:finish-story'
  'ctrl-alt-n': 'atom-tracker:create-new-story'
