// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-tracker {
}

.tracker-project-list {
  .project-role {
    margin-left: @component-icon-padding;
  }
}

.tracker-story-list {
  .badge {
    margin-left: @component-icon-padding;
    vertical-align: baseline;
  }

  // Use Tracker theme colours for story type
  .icon-bug {
    color: #d87350;
  }

  .icon-gear {
    color: #939592;
  }

  .icon-star {
    color: #e0c85e;
  }
}

// (Optional) status bar contains graph icon and link to project by name
atom-tracker-status {
  margin: 0 @component-padding;

  a {
    margin-left: @component-icon-padding;
  }

  .badge {
    margin-left: @component-icon-padding;
    vertical-align: baseline;

    &[hidden] {
      display: none;
    }
  }

  &[hidden] {
    display: none;
  }
}
