// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-tracker {

  // Use Tracker theme colours for story type icons
  .icon-bug::before {
    color: #d87350;
  }

  .icon-gear::before {
    color: #939592;
  }

  .icon-star::before {
    color: #e0c85e;
  }
}

.tracker-project-list {
  .project-role {
    margin-left: @component-icon-padding;
  }
}

.tracker-story-list {
  .badge {
    margin-left: @component-icon-padding;
    vertical-align: baseline;
  }
}

.tracker-story{
  background-color: @base-background-color;
  padding: @component-padding;

  .tracker-story-section {
    padding: @component-padding !important;
    width: 100%;

    span {
      display: inline-block;
      float: left;
      padding: @component-padding;

      &.story-type-icon {
        padding-left: @component-icon-padding;
        padding-right: 0;
        padding-top: @component-padding + @component-icon-padding;
      }

      &.story-name {
        width: 50%;
      }
    }
  }
}

// (Optional) status bar contains graph icon and link to project by name
atom-tracker-status {
  margin: 0 @component-padding;

  a {
    margin-left: @component-icon-padding;
  }

  .badge {
    margin-left: @component-icon-padding;
    vertical-align: baseline;

    &[hidden] {
      display: none;
    }
  }

  &[hidden] {
    display: none;
  }
}
